 /* Default general styles */  
 
 .container {
    width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
    /* CSV file button styles */
.upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
  }
  
  .upload-button {
    display: inline-block;
    font-size: 0.75em;
    color: rgb(233, 233, 233);
    cursor: pointer;
    background-color: rgb(26, 26, 27);
    padding: 1em;
    border-radius: 5px;
    border: 1px solid #999;
  }
  
  .upload-button i {
    margin-right: 0.5em;
  }

/* Table styles */
td {
    border: 1px solid black;
    padding: 8px
}

/* Dark mode slidebar styles */
.dark-mode-container {
    display: flex;
    align-items: center;
  }
  
#dark-mode-toggle {
    -webkit-appearance: none;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background: #ddd;
    outline: none;
    cursor: pointer;
  }
  
  #dark-mode-toggle::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #333;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #dark-mode-toggle::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #333;
    border-radius: 10px;
    cursor: pointer;
  }

/* Dark mode styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .dark-mode .upload-button {
    color: #fff;
    background-color: #444;
  }
  
  .dark-mode .upload-button:hover {
    color: #333;
    background-color: #fff;
  }
  
  .dark-mode td {
    border: 2px solid rgb(186, 186, 186);
    border-collapse: collapse;
    border-spacing: 0;
    }